.header {
    background-image: url('../assets/HeaderWall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.header .headline {
    background-color: #4965b2;
    background-image: linear-gradient(to bottom right, #4965b2 0%, #314478 100%);
}

.header .headline h2 {
    margin-bottom: 0;
}
.header .headline h5 {
    margin-top: 0;
}

/* Bootstrap Media Query Ranges*/

/* Until */
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/* UP TO*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    /*Make header text use whole width and not overflow*/
    .header {
        align-items: center;
        padding-right: 0;
        padding-left: 0;
    }

    .header .headline {
        padding: 0;
        margin: 1rem;
        text-align: center;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  }

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }

/*In Range*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }